.main-background { 
    height: 100vh;
    background: url('../../Assets/Images/test-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.logo {
    width: 175px;
}

.left-menu{
    width: 40%;
}

.left-menu ul{
    justify-content: end;
}

.right-menu{
    width: 40%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav ul li {
    cursor: pointer;
}

.nav a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

@media (min-width: 1300px) {
    .nav a::after {
        content: "";
        position: absolute;
        background-color: #6a3649;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
  }

.nav a:hover::after {
    width: 100%;
}